body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(135deg, #5D6D7E, #34495E); /* Cool gradient background */
    }
    .calculator {
      display: inline-block;
      border: 13px solid #ccc;
      padding: 10px;
      width: 300px;
      background-color: #08020271;
      border-radius: 8px;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    }
    .display {
      border: 5px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 24px;
      width: 85%;
      text-align: right;
      background-color: #f9f9f9;
      border-radius: 5px;
    }
    button {
      width: 60px;
      height: 60px;
      margin: 5px;
      font-size: 24px;
      cursor: pointer;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    button.operator {
      background-color: #FF9800;
    }
    button.equals {
      background-color: #b33f1c;
    }
    button.clear {
      background-color: #e0c2c2;
    }
    button:hover {
      background-color: #45a049;
    }
    button.operator:hover {
      background-color: #E65100;
    }
    button.equals:hover {
      background-color: #E53935;
    }
    button.clear:hover {
      background-color: #BDBDBD;
    }